{% extends "dashboord.html" %} 

{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    
  <meta name="viewport" content="width=device-width, initial-scale=1">
    
    

    <link rel="stylesheet" href="{% static 'fontawesome-free/css/all.min.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <!-- Graphique des âges -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Age Chart</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas id="ageChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                    </div>
                    <!-- /.card -->

                    <!-- Graphique du sexe -->
                    <div class="card card-danger">
                        <div class="card-header">
                            <h3 class="card-title">Sexe Chart</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas id="sexeChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-md-6 -->
                <div class="col-md-6">
                    <!-- Graphique des catégories -->
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Categories Chart</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas id="categorieChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                    </div>
                    <!-- /.card -->

                    <!-- Graphique des niveaux -->
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title">Niveau Chart</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas id="niveauChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

    <!-- JavaScript -->
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'dist/js/adminlte.min.js' %}"></script>

  
       
    <script>
      var agesData = {{ ages|safe }};
      var sexesData = {{ sexes|safe }};
      var categoriesData = {{ categories|safe }};
      var niveauxData = {{ niveaux|safe }};

      // Graphique des âges
      var ctxAge = document.getElementById('ageChart').getContext('2d');
      var ageLabels = Object.keys(agesData);
      var ageCounts = Object.values(agesData);
      new Chart(ctxAge, {
          type: 'bar',
          data: {
              labels: ageLabels,
              datasets: [{
                  label: 'Nombre d\'enseignants par âge',
                  data: ageCounts,
                  backgroundColor: 'rgba(75, 192, 192, 0.2)',
                  borderColor: 'rgba(75, 192, 192, 1)',
                  borderWidth: 1
              }]
          }
      });

      // Graphique du sexe
      var ctxSexe = document.getElementById('sexeChart').getContext('2d');
      new Chart(ctxSexe, {
          type: 'pie',
          data: {
              labels: Object.keys(sexesData),
              datasets: [{
                  data: Object.values(sexesData),
                  backgroundColor: ['rgba(54, 162, 235, 0.6)','rgba(255, 99, 132, 0.6)' ]
              }]
          }
      });

      // Graphique des catégories
      var ctxCategorie = document.getElementById('categorieChart').getContext('2d');
      new Chart(ctxCategorie, {
          type: 'bar',
          data: {
              labels: Object.keys(categoriesData),
              datasets: [{
                  label: 'Nombre d\'enseignants par catégorie',
                  data: Object.values(categoriesData),
                  backgroundColor: 'rgba(255, 206, 86, 0.2)',
                  borderColor: 'rgba(255, 206, 86, 1)',
                  borderWidth: 1
              }]
          }
      });

      // Graphique des niveaux
      var ctxNiveau = document.getElementById('niveauChart').getContext('2d');
      new Chart(ctxNiveau, {
          type: 'bar',
          data: {
              labels: Object.keys(niveauxData),
              datasets: [{
                  label: 'Nombre d\'enseignants par niveau',
                  data: Object.values(niveauxData),
                  backgroundColor: 'rgba(153, 102, 255, 0.2)',
                  borderColor: 'rgba(153, 102, 255, 1)',
                  borderWidth: 1
              }]
          }
      });
  </script>
   
</body>
</html>
{% endblock content %}